* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF2D7;
}

.home-parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: #121481;
    color: white;
    padding: 0 1rem;
}
#sticky-div {
    position: fixed;
    top: 0;
    /* width: 100%;
    background-color: lightblue;
    padding: 10px; */
    z-index: 1000; /* Ensure it's above other content */
  }
.home-top-bar-2 {
    display: flex;
    flex-direction: rows;
    justify-content: space-evenly;
    width: 7rem;

}
.home-top-bar-2 img {
    width: 1.5rem;
    margin-right: 15px;
}
.navbar {
    width: 100%;
    height: 8rem;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  1rem;
    background-color: #FFF2D7;
}

.navbar-logo img {
    width: 8rem;
    margin-top: 2.5rem;
}

.navbar-menue-items {
    margin-top: 2.5rem;
    width: 20rem;
}

.navbar-menue-items a {
    color: black;
    text-decoration: none;
    margin-left: 1rem;
    border-bottom: 2px solid black;
    border-radius: 10%;
}

.navbar-menue-items a:hover {
    color: #0C359E;
    cursor: pointer;
    border-color: #7AB2B2;
    transition: 0.3s ease;
}

.navbar-menue-items a.active {
    color: #0C359E;
    cursor: pointer;
    border-color: #7AB2B2;
    transition: 0.3s ease;
}

.navbar-menue-items-button {
    cursor: pointer;
    display: none;
}


.navbar-mobile{
    
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: #FC4100;
    color:white;
    transition: 0.3s ease-in-out;
    display: none;

}
.navbar-mobile a{
    text-decoration: none;
    color:white;
    margin:10px 0;
    padding:2px;
    font-size: 1.5rem;
}
.navbar-mobile .active{
    color:black;
}
.navbar-mobile a:hover{
    cursor: pointer;
    border-width:0 0 2px 0;
    border-color: white;
    color:green;

}

.slider-container {
    width: 100%;
    /* height: 30rem; */
}

.slider-container .slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/Amritsar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
}

.slider-container .slide-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/badrinath.jpeg);
}

.slider-container .slide-three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/Rishikesh.jpg);
}

.slider-container .slide-four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/gangaAarti.jpg);
}

.slider-container .slide-five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/kedarnath.jpg);
}

.slide-content h1 {
    padding: 1rem 2rem;
    color: white;
    font-size: 2rem;

}

.banner_slider.slick-slider {
    margin-bottom: 0;
}

.slider-container .slick-dots {
    width: 100%;
    bottom: 6%;
}

.slider-container .slick-next {
    right: 25px;
}


.slider-container .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: 0;
    outline: none;
    background: white;
    border-radius: 50%;
}

.yatra-info{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    /* border:2px solid red; */
    margin-bottom: 1rem;
    background-image: url(/images/nepal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.yatra{
    width:40%;
    margin:1rem auto;
}
.yatra table{
    
    margin:3px;
    border:2px solid black;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    padding:5px;
    width:100%;
    height:100%;
    
}
.yatra table th{
    border-bottom: 2px solid black;
    
}
.chardham{
    color:black;
    /* background-color: #FFC100; */
}
.chardham th{
    
    background-color: #FFC100;
}
.dodham{
    color:black;
    /* background-color: #FC4100; */
}
.dodham th{
   
    background-color: #FC4100;
}
.nepal{
    color:black;
    /* background-color: #10439F; */
}
.nepal th{
   
    background-color: #FFAA80;
}

.ayodhya{
    color:black;
    /* background-color: #7091F5; */
}
.ayodhya th{
  
    background-color: #7091F5;
}


.info {
    background-color: white;
    background-image: url(/images/Himalaya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.info-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
}

.info-one {
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 50%;
}

.info-two {
    margin-left: 10px;
    margin-top: 10px;
    flex-basis: 50%;
    margin: auto;
}


.brochure-download {
    background-color: greenyellow;
    margin-left: 1rem;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
}

.brochure-download:hover {
    background-color: green;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.map iframe {
    width: 100%;
    height: 20rem;
    border: 2px solid black;
}

.third {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #FF8C00;;
    color: black;
}
#safety-title{
    color:white;
    font-size: 1.3rem;
}

.third-one {
    flex-basis: 50%;
}

.third-two {
    flex-basis: 50%;
}

.third-two li {
    margin-bottom: 10px;
}

.location {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.location img {
    width: 2.5rem;
    margin-right: 1rem;
}

.footer {
    background-color: #0A4E8A;
    color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 2.5rem;
}

.footer-item {
    height: 13rem;
    width:20rem;
    padding: 1rem;
    margin: 1rem;
    border-width: 0 2px 0 0;
    /* border: 2px solid white; */
    border-color: white;
    border-style: solid;
    /* border-radius: 10px; */
    background-color: transparent; 
}
.footer-item i{
    color:white;
}
.footer-item:hover{
    /* opacity: 0.5; */
    background-color: #0767BA;
}
#bdownload{
    padding:5px 8px;
    color:black;
    background-color: #7ABA78;
    border:2px solid black;
    border-radius: 10px;

}
#bdownload:hover{
    
    color:white;
    cursor:pointer;
    border:2px solid white;
   

}
@media (max-width: 900px) {
    .info-one {
        border-width: 0;
        flex-basis: 100%;
    }

    .info-two {
        margin-top: 1.5rem;
        ;
        flex-basis: 100%;
    }

    .third-one {
        flex-basis: 100%;
    }

    .third-two {
        flex-basis: 100%;
    }

    .yatra{
        width:100%;
        margin: 1rem 1rem;
    }
    .footer-item {
        
        border-width: 0 0 0 0;
        
    }
}
@media (max-width: 600px) {
    * {
        font-size: 12px;
    }

    .home-parent {
        height: 38rem;
    }

    .home-top-bar-1 {
        display: none;
    }

    .home-top-bar {
        justify-content: center;
    }

    .navbar-menue-items {
        display: none;
    }

    .navbar-menue-items-button {
        display: inline-block;
    }
}